
.bg-text {
   
    color: black;
    font-weight: bold;
   
  }
  #one1{
    height:2px;
    border-width:0;
    color:red;
    background-color:red;
  }
  #one{
    height:2px;
    border-width:0;
    color:black;
    background-color:black;
  }
.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    /*top: 16%;*/
    top:0;
    left: 0;
    background-image: url("../../assets/imagenes/pin.jpg");
    overflow-x: hidden;
    padding-top: 20px;
  }
  .sidenav2 {
    height: 100%;
    width: 160px;
    position: fixed;
    top: 16%;
    right: 0;
    background-image: url("../../assets/imagenes/pin.jpg");
    background-position: center;
    overflow-x: hidden;
    padding-top: 10px;
  }