<div class="container">
    <div class="sidenav">

    </div>
    <h3 style="text-align:center; font-size: 50px; color:darkgreen;">Proximos Estrenos</h3>
    <hr id="one1">
    <br>
    <section class="col-mt-2">
        <div class="contenido row mt-12">
            <div class="col-md-7">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" [src]="video | domseguro:'https://www.youtube.com/embed/' "
                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-4 bg-text">
                <h4>Ms. Marvel | Tráiler Oficial Doblado</h4>
                <hr id="one">
                <p style="color: red;">Fecha de estreno: 8 de junio de 2022</p>
                <p style="font-family: Roboto, sans-serif; color: blue;">Ms. Marvel es una próxima miniserie de
                    televisión web estadounidense creada por Bisha K. Ali para el servicio de streaming, Disney+, basada
                    en el personaje de Marvel Comics, Kamala Khan / Ms. Marvel. Está ambientada en el Universo
                    cinematográfico de Marvel, compartiendo continuidad con las películas de la franquicia.</p>
            </div>
        </div>




        <br>
        <hr>
        <div class="row mt-12">

            <div class="col-md-7">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item"  [src]="video2 | domseguro:'https://www.youtube.com/embed/' "
                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>

            </div>

            <div class="col-md-4 bg-text">
                <h4>Thor: Love and Thunder</h4>
                <hr id="one">
                <p style="color: red;">Fecha de estreno: 8 de julio de 2022. </p>
                <p style="font-family: Roboto, sans-serif;">Cuarta entrega del Dios del Trueno de Marvel Stuidos. En
                    esta
                    ocasión podremos ver a Thor junto a los Guardianes de la Galaxia y después se enfrentará a Gorr, el
                    carnicero de dioses interpretado por Christian Bale.</p>
            </div>
        </div>




        <div class="sidenav2">

        </div>

    </section>