<div class="row">
    <div class=" col-lg-12 bg-image img1">
        <!-- width="560" height="315" -->
        <section class="row mt-5">
            <div class="col-md-8">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe  class="embed-responsive-item" [src]="video | domseguro:'https://www.youtube.com/embed/' "
                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-4 bg-text">
                <h4>Un pequeño top sobre los SuperHeroes</h4>
                <hr id="one">
                <p>En este video te dicen quienes son los 10 Superhéroes más poderosos del universo Marvel.</p>
            </div>
        </section>

    </div>
</div>