<div class="container">
  <h3 class="display-3">Sobre Comics</h3>

  <h4 class="titulo"> El primer comic de Spider-Man </h4>
  <p><span> El cómic Amazing Fantasy #15 de 1962, en el que Peter Parker y su alter ego hacen su debut en las
      historietas, creado por Stan Lee y Steve Ditko. </span></p>
  <p><span> El primer superhéroe adolescente </span></p>
  <p><span> Una de las razones del éxito de Spiderman es que fue el primer superhéroe con el que relamente podían
      identificarse los adolescentes, que tenía los mismos problemas de estudios, chicas y dinero que sus lectores.
      "Fue el primer superhéroe adolescente en ser caracterizado como un verdadero adolescente, y no como lo que los
      guionistas pretendían que debía ser un adolescente.</span></p>
  <img src="assets/imagenes/imagenesFondo/spiderman.jpg" width="300" height="300"
    style="vertical-align:middle;margin: auto">

  <h4 class="titulo"> El primer comic de Hulk </h4>
  <p><span> El cómic Increible Hulk el 10 de Mayo de 1962, la primera aparición del científico Bruce Banner y de su
      álter ego Hulk corrió a cargo de Stan Lee y Jack Kirby, explica las razones por las que el científico pasa de su
      versión humana a su lado más salvaje.</span></p>
  <p><span> ¿De qué trata? </span></p>
  <p><span> La culpa la tuvo una bomba de rayos gamma que, como en toda buena historia de superhéroes, se fue un poco de
      las manos. Banner, creador del artefacto, se dispone a lanzar la primera prueba después de meses de retraso cuando
      ve que un chico entra en el área de pruebas. Con bata blanca incluida, el científico se lanza a correr por el
      desierto hasta que consigue ponerlo a salv, pero Banner, pese a estar a millas de distancia de la bomba, no
      consigue evitar "ser bañado por la misteriosa fuerza de los rayos gamma".</span></p>
  <img src="assets/imagenes/imagenesFondo/hulk.jpg" width="300" height="300" style="vertical-align:middle;margin: auto">

  <h4 class="titulo">El primer comic de Iron Man </h4>
  <p><span> El personaje fue creado por el escritor y editor Stan Lee, desarrollado por el guionista Larry Lieber y
      diseñado por los artistas Don Heck y Jack Kirby. Hizo su primera aparición en Tales of Suspense #39 (marzo de
      1963), y recibió su propio título en Iron Man #1 (mayo de 1968). </span></p>
  <p><span> En un laboratorio estrechamente vigilado, Anthony "Tony" Stark muestra un nuevo invento a los oficiales de
      defensa del ejército estadounidense, ha desarrollado microtransistores capaces de potenciar cosas como los imanes,
      convirtiéndolos en poderosas armas lo suficientemente fuertes como para abrir una gruesa puerta de metal a
      distancia. Multiplican por mil la fuerza magnética. Stark impresiona a los altos mandos militares con sus nuevos
      inventos, al tiempo que impresiona a las damas de la jet set internacional con su elegante aspecto y su increíble
      riqueza personal.</span></p>
  <img src="assets/imagenes/imagenesFondo/ironman.jpg" width="300" height="300"
    style="vertical-align:middle;margin: auto">
</div>
