<div class="jumbotron jumbotron-fluid text-center m-3 text-center" style="background-color: #7CB9E8;">
  <div class="container-fluid p-1">
    <h1 class="display-2">Mini superhéroes</h1>
    <p class="lead display-5">Esta es un pequeña página sobre tus superhéroes favoritos de los comics</p>
    <hr class="my-4">
    <p>Registrate para obtener más información al respecto</p>
    <button type="button" class="btn" style="background-color: #5eff64; font-size: 1.5em;" data-toggle="modal" data-target="#exampleModal">Registrarse</button>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content bg-info">
          <div class="modal-header bg-success">
            <h5 class="modal-title text-white" id="exampleModalLabel">Formulario de registro</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <app-registro></app-registro>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


